﻿<!DOCTYPE HTML>
<html>
<head>
    <title>Future Imperfect</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1>Future Imperfec</h1>
            <nav class="links">
                    <ul>
                        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                        <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                        <li>@Html.ActionLink("FASHION", "Fashion", "Home")</li>
                        <li>@Html.ActionLink("LIFESTYLE", "LifeStyle", "Home")</li>
                        <li>@Html.ActionLink("FOOD", "Food", "Home")</li>
                    </ul>
</nav>
           
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        <section id="menu">

            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        @Html.ActionLink("HOME", "Index", "Home")
                           
                            <p>New posts</p>
                        
                    </li>
                    <li>
                        @Html.ActionLink("ABOUT", "About", "Home")
                            
                            <p>All about me</p>
                     
                    </li>
                    <li>
                       @Html.ActionLink("FASHION", "Fashion", "Home")
                             <p>News in Fashion industrial</p>
                       
                    </li>
                    <li>
                        @Html.ActionLink("LIFESTYLE", "LifeStyle", "Home")
                            <p>News in my life</p>
                       
                    </li>
                    <li>@Html.ActionLink("FOOD", "Food", "Home")
                    <p>Proper nutrition, healthy lifestyle </p>
                    </li>
                </ul>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions vertical">
                    <li><a href="#" class="button big fit">Log In</a></li>
                </ul>
            </section>

        </section>
        <!-- Main -->
        <div id="main">
            @RenderBody()

        </div>

        </div>
        <!-- Posts List -->

    <div class="page-buffer"></div>
        <div id="footer">
            <div class="container">


                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Crafted: <a href="http://designscrazed.org/">HTML5</a>.</p>
            </div>
        </div>
    

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>