﻿


<!-- Intro -->
<div class="siteName">
    <section id="intro">
        <a href="#" class="logo">
            <img src="~/Content/images/logo.jpg" />
        </a>
        <header>
            <h2>Future Imperfect</h2>
            <p>Another fine responsive site template in HTML5</p>
        </header>
    </section>
</div>