﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}



    <section class="about-widget">			 	
        <h2 class="title">About me</h2>
    <img alt="About Me" src="https://1.bp.blogspot.com/-DmPRDCbQC2A/WJoToqY-gPI/AAAAAAAAAL8/CMgWRh6OFVoy7elrJJWlL1dnOuMsrmrrQCLcB/s1600/about.jpg"/>			 			
   	<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amei.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amei.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amei.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amei.</p>
    </section>



