﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<!-- Intro -->
<div class="siteName">
    <section id="intro">
        <a href="#" class="logo">
            <img src="~/Content/images/logo.jpg" /></a>
        <header>
            <h2>Future Imperfect</h2>
            <p>Another fine responsive site template in HTML5</p>
        </header>
    </section>
</div>
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">Magna sed adipiscing</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">November 1, 2015</time>
            <a href="#" class="author"><span class="name">Jane Doe</span>
<img src="~/Content/images/avatar.jpg" /></a>
        </div>
    </header>
    <a href="#" class="image featured">
<img src="~/Content/images/pic01.jpg" /></a>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>

<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">Ultricies sed magna euismod enim vitae gravida</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-10-25">October 25, 2015</time>
            <a href="#" class="author"><span class="name">Jane Doe</span>
                <img src="~/Content/images/avatar.jpg" /> </a>
        </div>
    </header>
    <a href="#" class="image featured">
        <img src="~/Content/images/pic02.jpg" /> </a>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>

<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">Euismod et accumsan</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-10-22">October 22, 2015</time>
            <a href="#" class="author"><span class="name">Jane Doe</span>
                <img src="~/Content/images/avatar.jpg" /></a>
        </div>
    </header>
    <a href="#" class="image featured"> 
        <img src="~/Content/images/pic03.jpg" /></a>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>


<!-- Pagination -->
<ul class="actions pagination">
    <li><a href="" class="disabled button big previous">Previous Page</a></li>
    <li><a href="#" class="button big next">Next Page</a></li>
</ul>

